<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="工業鏈條傳動部件代理，提供高品質工業鏈條、鏈輪、培林與 FA 自動化傳動部件">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>恒久泰有限公司｜鏈條、鏈輪、培林、傳動部件專家經銷</title>
        <link rel=stylesheet href="/HJT_SITE/css/controller.css">
        <script src="/HJT_SITE/script/script.js"></script>
        <style></style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NDT0WR3MFW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());gtag('config', 'G-NDT0WR3MFW');
        </script>
    </head>
    <body page_key="index">
        <!-- mobile -->
        <div device_ui="mobile" style="display: none;position: relative;">
            <div style="position: absolute;z-index: 2;width: var(--window_width);">
                <div style="background-color: rgba(107,104,98,0.5);height: 10px;backdrop-filter: blur(3px);"></div>
                <div style="display: flex;align-items: center;justify-content: center;backdrop-filter: blur(3px);background-color: rgba(255,255,255,0.85);">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="height: 10px;"></div>
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="flex-shrink: 0;color: #333;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 1px;">恒久泰有限公司｜</div>
                            <div style="flex-shrink: 0;color: rgb(107,104,98);font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">鏈傳動部件經銷</div>
                        </div>
                        <div style="height: 10px;"></div>
                        <!--
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="flex-shrink: 0;color: #333;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">Hengjiutai Co., Ltd.</div>
                        </div>
                        <div style="height: 10px;"></div> -->
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
                <div style="background-color: rgba(107,104,98,0.5);height: 10px;backdrop-filter: blur(3px);"></div>
            </div>
            <div style="height: calc(var(--window_height) * 0.9);position: relative;z-index: 1;pointer-events: none;">
                <!-- swiper -->
                <div ui_key="swiper" style="width: var(--window_width);overflow: hidden;">
                    <div class="swiper_mobile">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="height: calc(var(--window_height) * 0.9);background-image: url(/HJT_SITE/file/img/demo_01.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="height: calc(var(--window_height) * 0.9);background-image: url(/HJT_SITE/file/img/demo_02.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="height: calc(var(--window_height) * 0.9);background-image: url(/HJT_SITE/file/img/demo_03.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="height: calc(var(--window_height) * 0.9);background-image: url(/HJT_SITE/file/img/demo_04.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                        </div>
                        <!-- If we need pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- If we need navigation buttons -->
                        <!-- <div class="swiper-button-prev"></div> -->
                        <!-- <div class="swiper-button-next"></div> -->

                        <!-- If we need scrollbar -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                </div>
                <!-- slogan -->
                <div style="position: absolute;z-index: 1;bottom: 0px;left: 0px;width: var(--window_width);">
                    <div style="position: absolute;bottom: 20px;left: 20px;padding: 20px;background-color: rgba(0,0,0,0.5);backdrop-filter: blur(3px);border-radius: 5px;">
                        <!-- <div style="font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;color: #fff;">工業鏈條總代理</div> -->
                        <!-- <div style="height: 20px;"></div> -->
                        <div style="font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;color: #fff;">提供高品質工業鏈條、</div>
                        <div style="height: 20px;"></div>
                        <div style="font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;color: #fff;">鏈輪與 FA 自動化傳動部件</div>
                    </div>
                </div>
            </div>
            <div style="background-color: rgb(107,104,98);height: 10px;"></div>
            <div style="position: relative;">
                <!-- fix position button -->
                <div style="position: absolute;z-index: 3;left: 0px;top: 0px;width: var(--window_width);">
                    <div style="position: absolute;right: 15px;top: 0px;display: flex;align-items: center;">
                        <div ui_key="btn_to_catalogue" style="padding: 16px;background-color: rgba(51,51,51,0.5);border-radius: 0px 0px 3px 3px;cursor: pointer;backdrop-filter: blur(3px);display: flex;align-items: center;">
                            <div style="flex-shrink: 0;">
                                <i class="fa-solid fa-caret-down" style="font-size: 1.2rem;line-height: 1.2rem;color: #fff;"></i>
                            </div>
                            <div style="flex-shrink: 0;width: 5px;"></div>
                            <div style="flex-shrink: 0;color: #fff;">商品型錄</div>
                        </div>
                    </div>
                </div>
                <div style="height: 60px;"></div>
                <!-- 公司服務項目：商品類別等 -->
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">鏈條</div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_chain.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">鏈輪</div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_sprocket.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
                <div style="height: 40px;"></div>
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">聯軸器</div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_coupling.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">傳動部件</div>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_other.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
            </div>
            <div>
                <div style="height: 40px;"></div>
                <!-- 商品型錄 - 手機 view -->
                <div ui_key="mobile_catalog_container" style="height: var(--window_height);display: flex;align-items: stretch;justify-content: stretch;flex-direction: column;background-color: #ccc;position: relative;">
                    <div style="flex-shrink: 0;height: 20px;"></div>
                    <!-- image -->
                    <div ui_key="catalogue_viewer" style="flex: 1;display: flex;align-items: stretch;justify-content: stretch;">
                        <div ui_key="catalogue_image" style="flex: 1;display: flex;align-items: stretch;justify-content: stretch;">
                            <div ui_key="img_zone" style="flex: 1;background-repeat: no-repeat;background-position: center center;background-size: contain;"></div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;height: 20px;"></div>
                    <div style="flex-shrink: 0;display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;height: 1px;background-color: #000;"></div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                    </div>
                    <div style="flex-shrink: 0;height: 20px;"></div>
                    <!-- title -->
                    <div style="flex-shrink: 0;display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 10vw;"></div>
                        <div style="flex: 1;">
                            <div ui_key="page_title" style="font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;;"></div>
                            <!-- <div style="height: 5px;"></div> -->
                            <div ui_key="page_keyword" style="display: none;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 10vw;"></div>
                    </div>
                    <div style="flex-shrink: 0;height: 20px;"></div>
                    <!-- controller -->
                    <div style="flex-shrink: 0;">
                        <div style="flex-shrink: 0;display: flex;align-items: center;justify-content: center;">
                            <div style="flex: 1;"></div>
                            <div ui_key="btn_prev" style="flex-shrink: 0;padding: 5px;cursor: pointer;">
                                <i class="fa-solid fa-circle-arrow-left" style="font-size: 2.2rem;line-height: 2.4rem;"></i>
                            </div>
                            <div style="flex-shrink: 0;width: 20px;"></div>
                            <div style="flex: 1;display: flex;align-items: center;justify-content: center;">
                                <div style="display: flex;align-items: center;justify-content: center;">
                                    <div ui_key="now_page_num"></div>
                                    <div>／</div>
                                    <div ui_key="sum_page_num"></div>
                                </div>
                            </div>
                            <div style="flex-shrink: 0;width: 20px;"></div>
                            <div ui_key="btn_next" style="flex-shrink: 0;padding: 5px;cursor: pointer;">
                                <i class="fa-solid fa-circle-arrow-right" style="font-size: 2.2rem;line-height: 2.4rem;"></i>
                            </div>
                            <div style="flex: 1;"></div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;height: 20px;"></div>
                    <!-- fix position button -->
                    <div style="position: absolute;left: 0px;bottom: 0px;width: var(--window_width);">
                        <div style="position: absolute;right: 20px;bottom: 20px;display: flex;align-items: center;">
                            <div ui_key="btn_to_catalogue" style="padding: 16px;background-color: #333;border-radius: 50%;cursor: pointer;">
                                <i class="fa-solid fa-up-down-left-right" style="font-size: 1.6rem;line-height: 1.6rem;color: #fff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div style="height: 40px;"></div>
                <!-- 公司服務優勢 -->
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-truck-fast" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">快速發貨</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgba(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;">我們有大量標準品可以因應客戶需求。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-user-check" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">供貨彈性</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgba(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;">沒有最低訂購量，即使是１條鏈條、１顆鏈輪，我們也出貨。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
                <div style="height: 40px;"></div>
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-cart-shopping" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">發貨方式</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgba(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;">可提供以下方式送貨：大榮貨運、宅配通、郵局、統一超商，方便客戶取貨。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-credit-card" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">付款方式</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgba(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;">提供多樣化付款方式，可來電與專人洽談：<a href="tel:+88662300853" style="color: #000;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;">06-2300853</a>。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
            </div>
            <div style="height: 40px;"></div>
            <div>
                <!-- 聯絡資訊 -->
                <div style="background-color: rgb(107,104,98);">
                    <div style="height: 40px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;">
                            <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">恒久泰有限公司</div>
                            <div style="height: 60px;"></div>
                            <!--
                            <div style="height: 10px;"></div>
                            <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 0px;">Hengjiutai Co., Ltd.</div>
                            <div style="height: 30px;"></div>
                            <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">711003 台南市 歸仁區</div>
                            <div style="height: 10px;"></div>
                            <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">中正北路一段 231巷 106-1號</div>
                            -->
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                    </div>
                    <div style="height: 20px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                        <!-- 聯絡資訊 -->
                        <div style="flex-shrink: 0;">
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">聯絡電話：</div>
                                <a href="tel:+88662300853" style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">06-230-0853</a>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">傳真電話：</div>
                                <a href="tel:+8862300753" style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">06-230-0753</a>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="display: flex;align-items: center;justify-content: flex-start;">
                                <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 0px;">EMail：</div>
                                <a href="mailto:hgtsales@infinitytw.com.tw" target="_blank" style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 0px;">hgtsales@infinitytw.com.tw</a>
                            </div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                    </div>
                    <!--
                    <div style="height: 20px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex-shrink: 0;">
                            <div id="my_google_map_mobile" style="height: 250px;width: 80vw;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                    </div> -->
                    <div style="height: 20px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;color: #fff;">©</div>
                        <div style="flex-shrink: 0;width: 10px;"></div>
                        <div ui_key="now_year_value" style="flex-shrink: 0;color: #fff;"></div>
                        <div style="flex-shrink: 0;width: 10px;"></div>
                        <div style="flex-shrink: 0;color: #fff;">恒久泰有限公司</div>
                        <div style="flex: 1;"></div>
                    </div>
                    <!--
                    <div style="height: 10px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="color: #fff;">Hengjiutai Co., Ltd.</div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                    </div> -->
                    <div style="height: 20px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex-shrink: 0;color: #fff;font-size: 0.8rem;line-height: 1rem;">powered by urieltech.com</div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                    </div>
                    <div style="height: 40px;"></div>
                </div>
            </div>
        </div>
        <!-- desktop -->
        <div device_ui="desktop" style="display: none;position: relative;">
            <div style="position: absolute;left: 0px;top: 0px;z-index: 2;width: var(--window_width);">
                <div style="background-color: rgba(107,104,98,0.5);height: 10px;backdrop-filter: blur(3px);"></div>
                <div style="display: flex;align-items: center;justify-content: center;backdrop-filter: blur(3px);background-color: rgba(255,255,255,0.85);">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="height: 5px;"></div>
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <!-- <div style="flex-shrink: 0;color: #000;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">恒久泰有限公司｜Hengjiutai Co., Ltd.</div> -->
                            <div style="flex-shrink: 0;color: #000;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">恒久泰有限公司</div>
                            <div style="flex-shrink: 0;width: 20px;"></div>
                            <div ui_key="btn_to_catalogue" style="flex-shrink: 0;padding: 5px;cursor: pointer;">
                                <div style="border-radius: 3px;padding: 10px;font-size: 1.2rem;line-height: 1.4rem;letter-spacing: 1px;background-color: rgba(0,0,0,0.5);color: #fff;">觀看商品型錄</div>
                            </div>
                            <div style="flex: 1;"></div>
                            <div style="flex-shrink: 0;color: #333;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">鏈傳動部件經銷</div>
                        </div>
                        <div style="height: 5px;"></div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
                <div style="background-color: rgba(107,104,98,0.5);height: 10px;backdrop-filter: blur(3px);"></div>
            </div>
            <!-- header -->
            <div ui_key="header" style="min-height: 620px;height: 75vh;position: relative;z-index: 1;">
                <!-- swiper -->
                <div ui_key="swiper" style="pointer-events: none;">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="min-height: 620px;height: 75vh;background-image: url(/HJT_SITE/file/img/demo_01.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="min-height: 620px;height: 75vh;background-image: url(/HJT_SITE/file/img/demo_02.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="min-height: 620px;height: 75vh;background-image: url(/HJT_SITE/file/img/demo_03.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                            <div class="swiper-slide" style="min-height: 620px;height: 75vh;background-image: url(/HJT_SITE/file/img/demo_04.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;"></div>
                        </div>
                        <!-- If we need pagination -->
                        <!-- <div class="swiper-pagination"></div> -->

                        <!-- If we need navigation buttons -->
                        <!-- <div class="swiper-button-prev"></div> -->
                        <!-- <div class="swiper-button-next"></div> -->

                        <!-- If we need scrollbar -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                </div>
                <!-- slogan -->
                <div ui_key="slogan" style="position: absolute;z-index: 1;bottom: 0px;left: 0px;width: var(--window_width);">
                    <div style="position: absolute;bottom: 50px;left: 50px;padding: 20px;background-color: rgba(0,0,0,0.5);backdrop-filter: blur(3px);border-radius: 5px;">
                        <!-- <div style="font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 2px;color: #fff;">工業鏈條總代理</div> -->
                        <!-- <div style="height: 20px;"></div> -->
                        <div style="font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 2px;color: #fff;">提供高品質工業鏈條、鏈輪與 FA 自動化傳動部件</div>
                    </div>
                </div>
            </div>
            <div style="background-color: rgb(107,104,98);height: 10px;"></div>
            <!-- body -->
            <div>
                <div>
                    <div style="height: 50px;"></div>
                    <!-- 服務項目：商品種類 -->
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;">
                            <div style="display: flex;align-items: center;justify-content: center;">
                                <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">鏈條</div>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_chain.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;">
                            <div style="display: flex;align-items: center;justify-content: center;">
                                <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">鏈輪</div>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_sprocket.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;">
                            <div style="display: flex;align-items: center;justify-content: center;">
                                <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">聯軸器</div>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_coupling.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;">
                            <div style="display: flex;align-items: center;justify-content: center;">
                                <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">傳動部件</div>
                            </div>
                            <div style="height: 10px;"></div>
                            <div style="height: 300px;background-image: url('/HJT_SITE/file/img/opt_other.png');background-repeat: no-repeat;background-size: cover;background-position: center center;background-color: rgba(107,104,98,0.5);border-radius: 5px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                    </div>
                    <div style="height: 50px;"></div>
                </div>
                <!-- catalog -->
                <div ui_key="catalog_container" style="height: var(--window_height);display: flex;align-items: stretch;justify-content: stretch;flex-direction: column;overflow: auto;position: relative;">
                    <div style="flex: 1;background-color: #ccc;display: flex;align-items: stretch;justify-content: center;overflow: auto;">
                        <div style="flex-shrink: 0;width: 20vw;"></div>
                        <div ui_key="catalogue_viewer" style="flex: 1;flex-shrink: 0;width: 500px;display: flex;align-items: stretch;justify-content: stretch;flex-direction: column;">
                            <div style="flex-shrink: 0;height: 20px;"></div>
                            <!-- catalogue_image -->
                            <div ui_key="catalogue_image" style="flex: 1;flex-shrink: 0;display: flex;align-items: stretch;justify-content: stretch;border-style: solid;border-color: #000;border-width: 0px 0px 1px 0px;">
                                <div ui_key="img_zone" style="flex: 1;background-repeat: no-repeat;background-position: center center;background-size: contain;"></div>
                            </div>
                            <div style="flex-shrink: 0;height: 20px;"></div>
                            <!-- page_title -->
                            <div style="flex-shrink: 0;">
                                <div ui_key="page_title"></div>
                                <div style="height: 5px;"></div>
                                <div ui_key="page_keyword"></div>
                            </div>
                            <div style="flex-shrink: 0;height: 20px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex-shrink: 0;width: 300px;display: flex;align-items: stretch;justify-content: stretch;flex-direction: column;">
                            <!-- title -->
                            <div style="flex-shrink: 0;">
                                <div style="height: 20px;"></div>
                                <div style="display: flex;align-items: center;justify-content: center;">
                                    <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">商品型錄</div>
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <!-- search input -->
                            <div style="flex-shrink: 0;display: none">
                                <div style="border: 1px solid #ccc;padding: 5px;">
                                    <input style="width: 100%;border: none;background: none;font-size: 1.2rem;line-height: 1.4rem;">
                                </div>
                                <div style="height: 20px;"></div>
                            </div>
                            <!-- page list -->
                            <div ui_key="page_list" style="flex: 1;position: relative;overflow: auto;border-style: solid;border-color: #000;border-width: 1px 0px 1px 0px;background-color: rgb(206,213,209);">[頁面列表]</div>
                            <div style="flex-shrink: 0;height: 20px;"></div>
                            <!-- pager controller -->
                            <div style="flex-shrink: 0;display: flex;align-items: center;justify-content: center;">
                                <div style="flex-shrink: 0;width: 20px;"></div>
                                <div ui_key="btn_prev" style="flex-shrink: 0;padding: 5px;cursor: pointer;">
                                    <i class="fa-solid fa-circle-arrow-left" style="font-size: 2.2rem;line-height: 2.4rem;"></i>
                                </div>
                                <div style="flex-shrink: 0;width: 20px;"></div>
                                <div style="flex: 1;display: flex;align-items: center;justify-content: center;">
                                    <div style="display: flex;align-items: center;justify-content: center;">
                                        <div ui_key="now_page_num"></div>
                                        <div>／</div>
                                        <div ui_key="sum_page_num"></div>
                                    </div>
                                </div>
                                <div style="flex-shrink: 0;width: 20px;"></div>
                                <div ui_key="btn_next" style="flex-shrink: 0;padding: 5px;cursor: pointer;">
                                    <i class="fa-solid fa-circle-arrow-right" style="font-size: 2.2rem;line-height: 2.4rem;"></i>
                                </div>
                                <div style="flex-shrink: 0;width: 20px;"></div>
                            </div>
                            <div style="flex-shrink: 0;height: 20px;"></div>
                        </div>
                        <div style="flex-shrink: 0;width: 20vw;"></div>
                    </div>
                    <!-- fix position button -->
                    <div style="position: absolute;left: 0px;bottom: 0px;width: var(--window_width);">
                        <div style="position: absolute;right: 20px;bottom: 20px;display: flex;align-items: center;">
                            <div ui_key="btn_to_catalogue" style="padding: 16px;background-color: #333;border-radius: 50%;cursor: pointer;">
                                <i class="fa-solid fa-up-down-left-right" style="font-size: 1.6rem;line-height: 1.6rem;color: #fff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 50px;"></div>
                <!-- 服務特點：用開源圖形作為圖源 -->
                <div style="display: flex;align-items: center;justify-content: center;">
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-truck-fast" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">快速發貨</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgba(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">我們有大量標準品可以因應客戶需求。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-user-check" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">供貨彈性</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgb(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">沒有最低訂購量，即使是１條鏈條、１顆鏈輪，我們也出貨。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-cart-shopping" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">發貨方式</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgb(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">可提供以下方式送貨：大榮貨運、宅配通、郵局、統一超商，方便客戶取貨。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                    <div style="flex: 1;">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <i class="fa-solid fa-credit-card" style="height: 3rem;line-height: 3.2rem;color: rgb(107,104,98);"></i>
                        </div>
                        <div style="height: 10px;"></div>
                        <div style="color: rgb(107,104,98);font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;display: flex;justify-content: center;">付款方式</div>
                        <div style="height: 10px;"></div>
                        <div style="height: 220px;background-color: rgb(206,213,209);border-radius: 5px;padding: 30px 20px;display: flex;align-items: flex-start;">
                            <div style="color: #000;font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">提供多樣化付款方式，可來電與專人洽談：<a href="tel:+88662300853" style="color: #000;font-size: 1.6rem;line-height: 1.8rem;letter-spacing: 3px;">06-2300853</a>。</div>
                        </div>
                    </div>
                    <div style="flex-shrink: 0;width: 20px;"></div>
                </div>
                <div style="height: 50px;"></div>
                <!-- 聯絡資訊 -->
                <div style="background-color: rgb(107,104,98);">
                    <div style="height: 40px;"></div>
                    <div style="display: flex;align-items: flex-start;justify-content: center;flex-wrap: wrap;">
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;">
                            <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">恒久泰有限公司</div>
                            <!--
                            <div style="height: 10px;"></div>
                            <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 0px;">Hengjiutai Co., Ltd.</div>
                            <div style="height: 30px;"></div>
                            <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">711003 台南市 歸仁區</div>
                            <div style="height: 10px;"></div>
                            <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 1px;">中正北路一段 231巷 106-1號</div>
                            -->
                        </div>
                        <div style="flex-shrink: 0;width: 40px;"></div>
                        <div style="flex-shrink: 0;">
                            <!-- 聯絡資訊 -->
                            <div style="flex-shrink: 0;">
                                <div style="display: flex;align-items: center;justify-content: flex-start;">
                                    <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">聯絡電話：</div>
                                    <a href="tel:+88662300853" style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">06-230-0853</a>
                                </div>
                                <div style="height: 10px;"></div>
                                <div style="display: flex;align-items: center;justify-content: flex-start;">
                                    <div style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">傳真電話：</div>
                                    <a href="tel:+88662300753" style="color: #fff;font-size: 1.4rem;line-height: 1.6rem;letter-spacing: 2px;">06-230-0753</a>
                                </div>
                                <div style="height: 10px;"></div>
                                <div style="display: flex;align-items: center;justify-content: flex-start;">
                                    <div style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 0px;">EMail：</div>
                                    <a href="mailto:hgtsales@infinitytw.com.tw" target="_blank" style="color: #fff;font-size: 1rem;line-height: 1.2rem;letter-spacing: 0px;">hgtsales@infinitytw.com.tw</a>
                                </div>
                            </div>
                        </div>
                        <div style="flex-shrink: 0;width: 40px;"></div>
                        <div style="flex: 1;"></div>
                        <!--
                        <div style="flex-shrink: 0;">
                            <div id="my_google_map" style="height: 250px;width: 400px;"></div>
                        </div>
                        -->
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                    </div>
                    <div style="height: 40px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <div style="flex-shrink: 0;width: 60px;"></div>
                        <div style="flex: 1;height: 2px;background-color: #fff;"></div>
                        <div style="flex-shrink: 0;width: 60px;"></div>
                    </div>
                    <div style="height: 20px;"></div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <!-- <div style="color: #fff;">© 2022 恒久泰有限公司 Hengjiutai Co., Ltd.</div> -->
                        <div style="flex: 1;"></div>
                        <div style="flex-shrink: 0;color: #fff;">©</div>
                        <div style="flex-shrink: 0;width: 10px;"></div>
                        <div ui_key="now_year_value" style="flex-shrink: 0;color: #fff;"></div>
                        <div style="flex-shrink: 0;width: 10px;"></div>
                        <div style="flex-shrink: 0;color: #fff;">恒久泰有限公司</div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex-shrink: 0;color: #fff;">｜</div>
                        <div style="flex-shrink: 0;width: 20px;"></div>
                        <div style="flex-shrink: 0;color: #fff;">powered by urieltech.com</div>
                        <div style="flex: 1;"></div>
                    </div>
                    <div style="height: 40px;"></div>
                </div>
            </div>
        </div>
        <!-- whdpi -->
        <div device_ui="whdpi" style="display: none;position: relative;">
            <!-- for wide hdpi device -->
        </div>
    </body>
</html>
<!-- HJT_SITE | powered by urieltech.com | 2022/11 -->
